<div id="message_<%= message.id %>">
  <% if message.label == "safe" %>
    <%= link_to "safe", messages_safe_to_danger_path(id: message.id), method: :post, remote: true, class: 'btn btn-xs btn-default' %>
  <% else %>
    <%= link_to "danger", messages_danger_to_safe_path(id: message.id), method: :post, remote: true, class: 'btn btn-xs btn-warning' %>
  <% end %>
</div>