<p class="text-center" id="message_<%= message.id %>">
  <% if message.label == "safe" %>
    <%= link_to "s a f e", messages_safe_to_danger_path(id: message.id), method: :post, remote: true, class: 'btn btn-info btn-lg' %>
  <% else %>
    <%= link_to "danger", messages_danger_to_safe_path(id: message.id), method: :post, remote: true, class: 'btn btn-danger btn-lg' %>
  <% end %>
</p>